@charset "utf-8";

/* 広告リスト */
@media print, screen and (min-width:768px){
	.contents .ad_list{
		display: flex;
		flex-wrap: wrap;
		margin-top: 40px;
	}
	.contents .ad_list > li{
		width: 48.04%;
	}
	.contents .ad_list > li:nth-child(even){
		margin-left: 3.92%;
	}
	.contents .ad_list > li:nth-child(n+3){
		margin-top: 40px;
	}
}
@media screen and (max-width:767px){
	.contents .ad_list{
		margin-top: 7.25vw;
	}
	.contents .ad_list:not(.ad_list_g) > li + li{
		margin-top: 9.66vw;
	}

	.contents .ad_list.ad_list_g{
		display: flex;
		flex-wrap: wrap;
	}
	.contents .ad_list.ad_list_g > li{
		width: 48.04%;
	}
	.contents .ad_list.ad_list_g > li:nth-child(even){
		margin-left: 3.92%;
	}
	.contents .ad_list.ad_list_g > li:nth-child(n+3){
		margin-top: 7.25vw;
	}
}
.contents .ad_list > li > .ad_list_img > label{
	display: block;
	cursor: pointer;
}
.contents .ad_list > li > .ad_list_img img{
	width: 100%;
	height: auto;
	vertical-align: bottom;
}
.contents .ad_list > li > .ad_list_title,
.contents .ad_list > li > .ad_list_year{
	color: #486DC0;
	text-align: center;
}
.contents .ad_list > li > .ad_list_title{
	margin-top: 1em;
	font-size: 1.8rem;
	font-weight: 500;
}
@media screen and (max-width:767px){
	.contents .ad_list > li > .ad_list_title{
		font-size: 4.35vw;
	}
}


/* モーダル */
input[id^="popup"]{
	display: none;
}

.popup_wrap{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99999;
	overflow-y: auto;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease;
}
input[id^="popup"]:checked + .popup_wrap{
	visibility: visible;
	opacity: 1;
}

.popup_close_bk{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	background-color: rgba(0, 0, 0, 0.25);
}

.popup_contents{
	position: absolute;
	/*top: 22%;*/
	top: 50%;
	left: 50%;
	box-sizing: border-box;
	width: 760px;
	padding: 10px;
	background-color: #fff;
	transform: translate(-50%, -50%);
}
.popup_contents.noCenter{
	top: 50px;
	transform: translateX(-50%);
}

@media print, screen and (min-width:768px){
	.popup_contents.popup_contents_g{
		width: 480px;
	}
}
@media screen and (max-width:860px){
	.popup_contents{
		width: 80%;
	}
}
@media screen and (max-width:767px){
	.popup_contents{
		width: 90.34vw;
		padding: 2.42vw;
		/*top: 15%;*/
	}
	.popup_contents.noCenter{
		top: 12.08vw;
		transform: translateX(-50%);
	}
}

.popup_contents > .movie{
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	overflow: hidden;
}
.popup_contents > .movie > iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.popup_contents > img{
	display: block;
	width: 100%;
	height: auto;
}

.popup_close{
	position: absolute;
	top: -50px;
	right: -50px;
	display: block;
	width: 50px;
	height: 50px;
	cursor: pointer;
}
.popup_close::before,
.popup_close::after{
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #fff;
	transform: rotate(45deg);
}
.popup_close::after{
	transform: rotate(-45deg);
}
@media screen and (max-width:767px){
	.popup_close{
		top: -12.08vw;
		right: 0;
		width: 12.08vw;
		height: 12.08vw;
	}
	.popup_close::before,
	.popup_close::after{
		height: 0.48vw;
	}
}



/* modalList */

.ad_list_btn__image > img {
	width: 100%;
	height: auto;
	vertical-align: bottom;
}

.ad_list_btn__title {
	margin-top: 1em;
	font-size: 1.8rem;
	font-weight: 500;
    color: #486DC0;
	text-align: center;
}
.ad_list_btn__year {
    color: #486DC0;
	text-align: center;
}

@media screen and (max-width: 767px) {
	.ad_list_btn__title {
		font-size: 4.35vw;
		font-size: 1.8rem;
	}	
}

/* modalsample */


.ad_list_img.modalSample > img {
	width: 200px;
}

/**************************\
  Basic Modal Styles
\**************************/

.modal__container :focus {
	outline: 2px solid #333;
	/* その他のフォーカススタイル */
  }
  
.modal {
	font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  }
	
  .modal__overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99999;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0,0,0,0.6);
	background-color: rgba(0, 0, 0, 0.25);
  }
	
  .modal__container {
    position: absolute;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
	/* background-color: #fff;
	padding: 30px;
	max-width: 500px;
	max-height: 100vh;
	border-radius: 4px;
	overflow-y: auto;
	box-sizing: border-box; */

	width: 760px;
    padding: 10px;
    background-color: #fff;
    transform: translate(-50%, -50%);
  }
  .modal__container > .movie {
	position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
  }

  .modal__container > .movie > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal__container.-g {
	width: 480px;
}
.modal__container.-g > img {
	display: block;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 767px) {
    .modal__container {
		width: 90.34vw;
        padding: 2.42vw;
    }
	.modal__container.-g {
		top: 12.08vw;
		top: 50%;
		width: 90.34vw;
        padding: 2.42vw;
		transform: translate(-50%, -50%);
	}
}
	
  .modal__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	}
	
  .modal__title {
	box-sizing: border-box;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 1.25;
	color: #00449e;
  }
	
  .modal__close {
	/* background: transparent;
	border: 0; */
  }
  
.modal__close{
	position: absolute;
	top: -50px;
	right: -50px;
	display: block;
	width: 50px;
	height: 50px;
	cursor: pointer;
}
.modal__close::before,
.modal__close::after{
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #fff;
	transform: rotate(45deg);
}
.modal__close::after{
	transform: rotate(-45deg);
}
@media screen and (max-width:767px){
	.modal__close{
		top: -12.08vw;
		right: 0;
		width: 12.08vw;
		height: 12.08vw;
	}
	.modal__close::before,
	.modal__close::after{
		height: 0.48vw;
	}
}

	
  .modal__header .modal__close:before { content: "\2715"; }
	
  .modal__content {
	margin-top: 2rem;
	margin-bottom: 2rem;
	line-height: 1.5;
	color: rgba(0,0,0,.8);
  }
	
  .modal__btn {
	padding-top: .5rem;
	padding-right: 1rem;
	padding-bottom: .5rem;
	padding-left: 1rem;
	margin: 0;
	overflow: visible;
	font-size: .875rem;
	line-height: 1.15;
	color: rgba(0,0,0,.8);
	text-transform: none;
	-webkit-appearance: button;
	cursor: pointer;
	background-color: #e6e6e6;
	border-style: none;
	border-width: 0;
	border-radius: .25rem;
	transition: -webkit-transform .25s ease-out;
	transition: transform .25s ease-out;
	transition: transform .25s ease-out,-webkit-transform .25s ease-out;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	will-change: transform;
	-moz-osx-font-smoothing: grayscale;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  }
	
  .modal__btn:focus, .modal__btn:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
  }
	
  .modal__btn-primary {
	color: #fff;
	background-color: #00449e;
  }
	
	
	
  /**************************\
	Demo Animation Style
  \**************************/
  @keyframes mmfadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
  }
	
  @keyframes mmfadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
  }
	
  /* @keyframes mmslideIn {
	from { transform: translateY(15%); }
	to { transform: translateY(0); }
  }
	
  @keyframes mmslideOut {
	from { transform: translateY(0); }
	to { transform: translateY(-10%); }
  } */
	
  .micromodal-slide {
	display: none;
	transition: all 0.5s ease;
	
  }
	
  .micromodal-slide.is-open {
	display: block;
	transition: all 0.5s ease;
  }
	
  .micromodal-slide[aria-hidden="false"] .modal__overlay {
	animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
	animation: mmfadeIn .5s ease;
  }
	
  /* .micromodal-slide[aria-hidden="false"] .modal__container {
	animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
  } */
  .micromodal-slide[aria-hidden="false"] .modal__container {
	animation: mmfadeIn .5s ease;
  }
	
  .micromodal-slide[aria-hidden="true"] .modal__overlay {
	animation: mmfadeOut .5s ease;
  }
	
  /* .micromodal-slide[aria-hidden="true"] .modal__container {
	animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
  } */
  .micromodal-slide[aria-hidden="true"] .modal__container {
	animation: mmfadeOut .5s ease;
  }
	
  /* .micromodal-slide .modal__container,
  .micromodal-slide .modal__overlay {
	will-change: transform;
  } */